.image-with-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .image-with-text img {
    max-width: 100%;
    margin: 10px;
    height: 600px;
    border-radius: 10px;
  }
  
  .image-with-text p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
  }

  .line-text{
    max-width: 75%;
    margin: 20px;
    height: 30px;
    background:   linear-gradient(to bottom, #4c669f, #3b5998, #192f6a);
    margin-left: 180px;
    border-radius: 10px;
  }

  .px-controller{
    padding-left: 100px;
    padding-right: 100px;
    
  }


  @media(max-width: 600px){
    .px-controller{
        padding-left: 25px;
        padding-right: 25px;
        
      }
      .line-text{
        max-width: 100%;
        margin: 20px;
        height: 30px;
        background:   linear-gradient(to bottom, #4c669f, #3b5998, #192f6a);
        /* margin-left: 180px; */
        border-radius: 10px;
      }
      .image-with-text img {
        max-width: 90%;
        margin: 25px;
        height: 600px;
        border-radius: 10px;
        object-fit: cover;
    }
  }