body{
  margin: 0px;
  padding: 0px;
}
.container-1{
  background: linear-gradient(to bottom, #4c669f, #3b5998, #192f6a);
  height: 90vh;
}
.container-2{
  background: linear-gradient(to bottom, #f0f0f0, #e1e1e1, #d2d2d2);
  height: auto;
}
.container-3{
  background:   linear-gradient(to bottom, #4c669f, #3b5998, #192f6a);
  height: auto;
}
.burgerHome{
  width: 450px;
  height: 450px;
}
.burgerHome-2{
  width: 400px;
  height: 400px;
}
.max-w{
  max-width: 500px;
}
.oval{
  /* width: 200px; 
  height: 500px; */
  background: linear-gradient(to bottom, #4c669f, #3b5998, #192f6a);
  border-radius: 50%;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4); /* adjust the shadow values as needed */
  
}
.oval-2{
  /* width: 200px; 
  height: 500px; */
  background: linear-gradient(to bottom, #f0f0f0, #e1e1e1, #d2d2d2);
  border-radius: 50%;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4); /* adjust the shadow values as needed */
  
}